.breadcrumb {
  text-align: center;
}

/* ## Style Price Number ## */
.product-price {
  color: black;
}

.tax-shipping-delivery-label {
  display: none;
}

/* ## Style Price Number ## */

/* ## Style Product Variants | Color Variants... ## */
.control-label {
  width: fit-content !important;
  padding: 5px 14px;
  margin-bottom: 0.375rem;
  display: block;
  border: 1px solid black;
  border-radius: 20px;
}

.color {
  border-radius: 50%;
  border-color: transparent !important;
  height: 30px;
  width: 30px;
}

/* ## Style Product Variants | Color Variants... ## */

/* ## Style "Ajouter au panier" Button ##*/
.add-to-cart {
  background: black;
  border-radius: 40px;
  margin-top: 8px;
}

/* ## Style "Ajouter au panier" Button ##*/

/* ## Remove Social Sharing ## */
.social-sharing {
  display: none;
}

/* ## Remove Social Sharing ## */

/* ## Thumb Image Selected ## */
.thumb.selected {
  border: 0 solid black !important;
}

/* ## Thumb Image Selected ## */

/* ## Style Navbar  ## */
#header {
  background: black;
  padding-top: 15px;
}
.container {
  margin: auto;
  vertical-align: middle;
}

.search-widget {
  display: none;
}

.nav-style {
  display: flex;
}

.menu {
  width: 72%;
  text-align: center;
  color: white;
}

.popover {
  background: black;
}

#header .header-top {
  padding-bottom: 0;
}

#header .header-top a {
  font-family: LEIXO, serif;
  font-size: 17px;
  color: white !important;
}

#_desktop_user_info {
  width: auto;
  max-width: 200px;
}
#_desktop_cart {
  width: auto;
  position: absolute;
  right: 3%;
}

#_desktop_cart .hidden-sm-down {
  display: none;
}
.logout {
  display: none;
}

@media (max-width: 767px) {
  #header .header-top a {
    color: black !important;
  }
  #header {
    background: white;
  }
  .nav-style {
    display: none;
  }
}

@media (min-width: 767px) {
  .header-nav {
    display: none;
  }
}
/* ## Style Navbar  ## */
